*.substvars
*debhelper*
.debhelper
files
tmp
libpmem1
libpmem1-debug
libpmem-dev
libpmem2
libpmem2-debug
libpmem2-dev
libpmemobj1
libpmemobj1-debug
libpmemobj-dev
libpmempool1
libpmempool1-debug
libpmempool-dev
pmdk-tools
